#brush {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;

  .label {
    font-size: 14px;
    width: 50px;
  }

  .MuiSvgIcon-root {
    cursor: pointer;
  }

  .MuiSlider-root {
    margin: 0 16px;

    .MuiSlider-rail {
      height: 8px;
      border-radius: 4px;
      background-color: #d8d8d8;
    }

    .MuiSlider-track {
      height: 8px;
      border-radius: 4px;
      background-color: steelblue;
    }

    .MuiSlider-thumb {
      width: 20px;
      height: 20px;
      border: solid 1px #6b6f7b;
      background-color: #ffffff;
      margin-top: -7px;
      margin-left: -10px;
    }

    .MuiSlider-markLabel {
      visibility: hidden;
    }

    .MuiSlider-mark {
      visibility: hidden;
    }

    .MuiSlider-valueLabel {
      top: 30px;

      & * {
        background: transparent;
        color: gray;
        width: 100px;
        font-size: 14px;
      }
    }
  }
}
