.main {
  text-align: left;
  width: calc(100vw * 0.9);
  height: calc(100vh * 0.9);
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;

    &.space-between {
      justify-content: space-between;
    }
  }

  .map {
    width: 975px;
    height: 610px;

    path {
      stroke: gray;
      stroke-width: 0.5px;

      &.no-data {
        fill: #fdfdfd !important;
      }

      &.state {
        fill: none;
        stroke: black;
        stroke-width: 1px;
      }

      &.active {
        stroke: black;
        stroke-width: 1px;
      }

      &.wind-speed {
        stroke: none;
        fill-opacity: 0.35;
        pointer-events: none;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 975px;
  }
}
