.axis {
  text {
    text-rendering: optimizeLegibility;
    font-size: 12px;
    stroke: none;
    fill: gray;

    &.year {
      font-size: 16px;
      stroke: none;
      fill: darkgray;
      font-weight: bold;
    }
  }

  .x--axis {
    text {
      text-anchor: middle;
    }
  }

  path,
  line {
    fill: none;
    stroke: darkgray;
    stroke-width: 2px;
    shape-rendering: crispEdges;
  }
}
